<table class="table">
  <thead>
    <tr>
      <h3>Subscription & Billing</h3>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>Next billing date: <strong>{{ details.billingDate }}</strong></span>
        <br>
        <span>Service: <strong>{{ details.service }}</strong></span>
        <br>
        <span>Service provider: <strong>{{ details.provider }}</strong></span>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>

<span id="previous">Previous payments</span>

<table class="table">
  <tbody class="bottom-table">
    <tr class="tableHead">
      <td>Date</td>
      <td>Service period</td>
      <td>Total</td>
    </tr>
    <tr *ngFor="let payment of payments">
      <td>{{ payment.date }}</td>
      <td>{{ payment.period }}</td>
      <td>{{ payment.currency }} {{ payment.total }}</td>
    </tr>
  </tbody>
</table>


<button type="button">Cancel subscription</button>
