<table class="table">
  <thead>
    <tr>
      <h3>Subscription & Billing</h3>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>Next billinng date:</span>
        <br>
        <span>Service:</span>
        <br>
        <span>Service provider:</span>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>

<span id="previous">Previous payments</span>

<table class="table">
  <tbody>
    <tr class="tableHead">
      <td>Date</td>
      <td>Service period</td>
      <td>Total</td>
    </tr>
    <tr>
      <td>13.04.17</td>
      <td>13.04.17-12.05.17</td>
      <td>€2.99</td>
    </tr>
    <tr>
      <td>12.03.17</td>
      <td>12.03.17-12.04.17</td>
      <td>€2.99</td>
    </tr>
  </tbody>
</table>

<button type="button">Cancel subscription</button>
